/local.properties
/build
/.idea
/.gradle
**.DS_Store
/.kotlin
**/build/
/libpebble3/libpebble-swift/LibPebbleSwift.xcodeproj/project.xcworkspace/xcuserdata
/libpebble3/libpebble-swift/LibPebbleSwift.xcodeproj/xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.podspec
!expo-rebuild/modules/**/*.podspec
expo-rebuild/modules/pebble-core-native/ios/vendor/
*.jks
iosApp/iosApp.xcodeproj/xcuserdata
iosApp/iosApp.xcworkspace/xcuserdata
iosApp/iosApp/GoogleService-Info.plist
