<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_SCAN"
    android:usesPermissionFlags="neverForLocation" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
  <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_CALL_LOG" />
  <uses-permission android:name="android.permission.MANAGE_ONGOING_CALLS" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
  <uses-feature android:name="android.software.companion_device_setup" />

  <application android:usesCleartextTraffic="true">
    <provider
      android:authorities="${applicationId}.pebblekit"
      android:name="io.rebble.libpebblecommon.pebblekit.two.PebbleKitProvider"
      android:exported="true" />
    <provider
      android:authorities="com.getpebble.android.provider.basalt"
      android:name="io.rebble.libpebblecommon.pebblekit.classic.PebbleKitProvider"
      android:exported="true"
      tools:ignore="ExportedContentProvider" />
  </application>
</manifest>
